RHT_OCP4_MASTER_API=https://api.ocp-na2.prod.nextcle.com:6443
RHT_OCP4_WILDCARD_DOMAIN=apps.ocp-na2.prod.nextcle.com
RHT_OCP4_CLUSTER_ID=57c48a8d-c97b-433f-86f2-c6c80c516bed
RHT_OCP4_NEXUS_SERVER=nexus-common.apps.ocp-na2.prod.nextcle.com
RHT_OCP4_DEV_USER=rgolden73
RHT_OCP4_DEV_PASSWORD=7cfd4a11b86f47a78455
RHT_OCP4_GITHUB_USER=rgold73
RHT_OCP4_QUAY_USER=rgold73
